*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: #1a5f67;
    font-size: 62.5%; 
    /*10 px converting value of 1 rem to 10px*/
  }
  body{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
  }